<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108088693003-8svtmkptltbqo5a7a8lj2g04a7m01s95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108088693003-8svtmkptltbqo5a7a8lj2g04a7m01s95</string>
	<key>API_KEY</key>
	<string>AIzaSyAEdu5514F6Wveeh0hHnfiDgf6AV4YYVoI</string>
	<key>GCM_SENDER_ID</key>
	<string>108088693003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomprotiva.autojidelna</string>
	<key>PROJECT_ID</key>
	<string>autojidelna</string>
	<key>STORAGE_BUCKET</key>
	<string>autojidelna.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108088693003:ios:c047a680d137be3196d20e</string>
</dict>
</plist>