<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEdu5514F6Wveeh0hHnfiDgf6AV4YYVoI</string>
	<key>GCM_SENDER_ID</key>
	<string>108088693003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.appelevate.autojidelna</string>
	<key>PROJECT_ID</key>
	<string>autojidelna</string>
	<key>STORAGE_BUCKET</key>
	<string>autojidelna.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108088693003:ios:3ee0dec76b21a50596d20e</string>
	<key>DATABASE_URL</key>
	<string>https://autojidelna-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>